@using Microsoft.AspNetCore.Components.Web.Virtualization
@inherits NewAuditBase;

@page "/facility/{facilityId}/audit"
@attribute [Authorize(Roles = "admin")]

<EditForm class="my-2" Model="@Audit" OnValidSubmit="@OnSubmitAsync" style="max-width: 600px">
    <DataAnnotationsValidator />

    <div class="row g-3 align-items-center">
        <div class="col-auto">
            <label for="endAuditTime" class="col-form-label">Время начала аудита</label>
        </div>
        <div class="col-auto">
            <input id="endAuditTime" class="form-control" type="time" value="@DateTime.Now.TimeOfDay" />
        </div>
    </div>
    <div class="accordion my-2" id="accordioItems">
        @foreach (var group in Audit.Groups.OrderBy(x => x.Order))
        {
            var headingItemId = $"headingItem{group.Order}";
            var bodyItemId = $"bodyItem{group.Order}";
            var isExpanded = group.Order == 1 ? "true" : "false";
            <div class="accordion-item">
                <h2 class="accordion-header" id="@headingItemId">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#@bodyItemId" aria-expanded="@isExpanded" aria-controls="@bodyItemId">
                        @group.Title
                    </button>
                </h2>
                <div id="@bodyItemId" class="accordion-collapse collapse show" aria-labelledby="@headingItemId" data-bs-parent="#accordioItems">
                    <div class="accordion-body">
                        @foreach (var item in group.Items)
                        {
                            @if (item.IsCheckedAvailable)
                            {
                                var checkId = $"check_{item.Order}";
                                <div class="form-check form-control" style="border: 0">
                                    <InputCheckbox class="form-check-input" id=checkId @bind-Value="@item.IsChecked"></InputCheckbox>
                                    <label class="form-check-label" for=checkId>@item.Title</label>
                                </div>
                            }
                            else
                            {
                                <label>@item.Title</label>
                            }

                            @if (item.IsCommentsAvailable)
                            {
                                <InputTextArea class="form-control" rows="5" @bind-Value="@item.Comments"></InputTextArea>
                            }
                        }
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="row g-3 align-items-center mb-2">
        <div class="col-auto">
            <label for="endAuditTime" class="col-form-label">Время окончания аудита</label>
        </div>
        <div class="col-auto">
            <input id="endAuditTime" class="form-control" type="time" value="@DateTime.Now.TimeOfDay" />
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Сохранить</button>
</EditForm>
