@using BlazorApp.Client.Models
@inherits NewFacilityBase

@page "/newfacility"
@attribute [Authorize(Roles = "admin")]

<EditForm class="mt-2" Model="@Facility" OnValidSubmit="@OnSubmitAsync" style="max-width: 600px">
    <DataAnnotationsValidator />
    <div class="mb-2">
        <InputText class="form-control" placeholder="Название" @bind-Value="Facility.Name" />
        <ValidationMessage For="@(() => Facility.Name)" />
    </div>
    <div class="mb-2">
        <InputText class="form-control" placeholder="Адрес" @bind-Value="Facility.Address" />
        <ValidationMessage For="@(() => Facility.Address)" />
    </div>
    <div class="mb-2 d-flex flex-column justify-content-center">
        <InputFile class="form-control" OnChange="@OnFileSelected" accept=".jpg,.png" />
        <img class="mt-2 img-thumbnail" src="@Facility.PreviewUrl" />
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </div>
</EditForm>  